@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

:root {
    --color-bg: #242424;
    --color-text: #56FF71;
}

* {
    box-sizing: border-box;
}

/* general styling */
html {
    font-size: 16px;
    background-color: var(--color-bg);
    min-height: -webkit-fill-available;
}

p {
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    color: var(--color-text);
    margin: 0;
    white-space: pre-wrap;
}

button {
    all: unset;
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    color: var(--color-text);
    margin: 0;
}

body {
    margin: 0px;
    padding-inline: 1rem;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

/* chat layout styling */
.vertical-flex, #rooms-container, #expiration-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#expiration-container p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.flex-width > :nth-child(1) {
    width: 60%;
}

.flex {
    display: flex;
    white-space: pre-wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.flex-title > * {
    flex-grow: 1;
    flex-basis: 0;
}

.flex-title p:nth-child(2) {
    text-align: center;
}

.flex-title p:nth-child(3) {
    text-align: right;
}

.flex-width {
    width: min(100%, 500px);
    /* width: 700px; */
    justify-content: space-between;
}

textarea {
    all: unset;
    background-color: var(--color-bg);
    flex-grow: 1;
    color: var(--color-text);
    font-family: 'Source Code Pro', monospace;
    height: auto;
}

.bottom-gap {
    margin-bottom: 1rem;
}

#number-active {
    width: max-content;
    margin-inline: auto;
}

#message-wrapper {
    flex-grow: 1;
}

#message-input {
    margin-top: auto;
}

#message-input {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    padding-block: 0.5rem;
}

/* text styling */
.bold {
    font-weight: bold;
}

/* button styling */
button {
    cursor: pointer;
}